<% flash.each do |type, message| %>
  <p class="text-danger"><%= message %><p>
<% end %>

<%= form_tag("/sessions", method: 'create', class: 'form-horizontal') do %>
<div class="input-group">
  <div class="field form-group">
    <%= label_tag :email, nil, class: 'sr-only' %>

    <div class="input-group">
      <div class="input-group-addon">
        <i class="glyphicon glyphicon-user"></i>
      </div>
      <%= text_field_tag :email, nil, class:'form-control', placeholder: "邮箱" %>
    </div>
  </div>

  <div class="field form-group">
    <%= label_tag :password, nil, class: 'sr-only' %>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="glyphicon glyphicon-lock"></i>
      </div>
      <%= password_field_tag :password, nil, class:'form-control', placeholder: "请输入密码" %>
   </div>
  </div>

  <div class="field form-group">
    <%= button_tag "登录", class: "btn btn-primary form-control" %>
  </div>
</div>
<% end %>
