<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.category %></td>
        <td><%= link_to 'Show', user_article_path(@user, article) %></td>
        <td><%= link_to 'Edit', edit_user_article_path(@user, article) %></td>
        <td><%= link_to 'Destroy', user_article_path(@user, article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
<%= paginate @articles %>
</div>

<br>

<%= link_to '新建', new_user_article_path(@user, @article) %>

<!-- <%= link_to 'My Account', user_path(@user) %> -->

<!-- <%= link_to 'Home Page', home_url %> -->
