<% flash.each do |type, message| %>
  <p class="text-danger"><%= message %><p>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading" style="background-color:white">
    <h3><p class="text-left"><strong><%= @article.title %></strong></p></h3>
    <p><h6>
      <%= "作者#{@article.user.user_name}发表于#{@article.created_at.to_formatted_s(:db)}" %>
      <%= "阅读#{@article.view_count}" %>
      <%= "喜欢#{@article.likes.count.to_i}" %>
      <%= "评论#{@article.comments.count}" %>
    </h6></p>
  </div>

  <div class="panel-body">
    <p><%= markdown(@article.content) %></p>
    <wb:share-button appkey="666151430" addition="simple" type="button"></wb:share-button>
  </div>

  <div class="panel-footer" >
    <div class="row">

      <div id="favorite" class="col-md-4 text-left">
        <%= render 'favorites/favorite_link' %>
      </div>

      <div id="like" class="col-md-4 text-center">
        <%= render 'likes/like_link' %>
      </div>

      <div class="col-md-4 text-right">
        <%= render 'edit_delete' %>
      </div>

    </div>
  </div>

</div>

<!-- <div class="well" style="background-color:white">
  <%= render 'panel/author', object: @article %>
</div> -->

<div id="comment">
    <%= render 'comments/show' %>
</div>

