<% flash.each do |type, message| %>
  <p class="text-danger"><%= message %><p>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><p class="text-center"><%= @article.title %></p></h4>
  </div>

  <div class="panel-body">
    <p><%= markdown(@article.content) %></p>
  </div>

  <div class="panel-footer" >
    <div class="row">

      <div id="favorite" class="col-md-6 text-left">
        <%= render 'favorite_link' %>
      </div>

      <div class="col-md-6 text-right">
        <%= render 'edit_delete' %>
      </div>

    </div>
  </div>

</div>

<div id="comment">
  <% if @article.comments.size > 0 %>
    <%= render 'comments/show', object: @article %>
  <% end %>
</div>

<%= render 'comments/form' %>



