<div class="panel panel-default">
  <div class="panel-heading">
    <h4><p class="text-center"><%= @article.title %></p></h4>
  </div>
  <div class="panel-body">
    <p><%= markdown(@article.content) %></p>
  </div>
  <div class="panel-footer inline-block">
    <div class="text-left">
      <%= link_to favorite_article_path(@article) do %>
        <span class="glyphicon glyphicon-bookmark"></span>
      <% end %>
    </div>
    <div class="text-right">
    <% if current_user == @article.user %>
      <%= link_to edit_user_article_path(@user, @article) do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %> |
      <%= link_to [@user, @article], method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    <% end %>
  </div>
  </div>
</div>

<% if @article.comments.size > 0 %>
  <%= render 'comments/show', object: @article %>
<% end %>


<%= form_for([@article, Comment.new], html: {class: 'form-horizontal'}) do |f| %>
  <div class="field form-group">
    <div class="col-sm-5 form-group-sm">
      <%= f.text_area :content, rows: 5, placeholder: '说点什么...', class: 'form-control' %>
    </div>
  </div>
  <p><%= f.submit '发表', class: "btn btn-primary" %></p>
<% end %>
