<%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :user_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5 form-group-sm">
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :password, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </div>

<% end %>