<%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <ul class="list-group">
      <% @user.errors.full_messages.each do |message| %>
        <!-- <li class="list-group-item list-group-item-danger"> -->
          <!-- <div class="alert alert-danger" role="alert"><%= message %></div> -->
          <p class="text-left col-md-offset-2 text-danger bg-danger"><%= message %></p>
        <!-- </li> -->
      <% end %>
    </ul>
  <% end %>

  <div class="field form-group">
    <%= f.label :user_name, '名字', class: 'col-sm-2 control-label' %>
    <div class="col-sm-5 form-group-sm">
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :password, '密码', class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, '确认密码', class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </div>

<% end %>