<div class="row">
<ul class="list-group col-md-3">
  <li class="list-group-item">
    <p class="text-left"><%= image_tag avatar_url(@user, 100) %></p>
    <p><h3><%= @user.user_name %></h3></p>
  </li>
  <li class="list-group-item">
    <%= @user.email %>
  </li>
  <li class="list-group-item"><%= @user.email %></li>
</ul>

<div class="col-md-9">
  <ul class="nav nav-tabs">
    <li role="presentation">
      <%= link_to '我的文章', user_articles_path(@user), remote: true %>
    </li>
    <li role="presentation">
      <%= link_to '我的收藏', user_favorites_path(@user), remote: true %>
    </li>
  </ul>

  <div class="tab-content" id="my_articles">
  </div>

</div>

</div>