<div class="panel panel-default">
  <div class="panel-body text-center">
    <%= image_tag avatar_url(current_user, 80), class: "center-block img-circle" %>
    <h5><%= current_user.user_name %></h5>
    <table class="table table-condensed">
    <!-- <table class="table table-bordered"> -->
    <tbody>
      <tr>
        <td>
          <p><h3 class="text-primary"><strong><%= current_user.articles.count.to_i %></strong></h3></p>
          <h6>文章</h6>
        </td>
        <td>
          <p><h3 class="text-primary"><strong><%= current_user.articles.count.to_i %></strong></h3></p>
          <h6>文章</h6>
        </td>
        <td>
          <p><h3 class="text-primary"><strong><%= current_user.articles.count.to_i %></strong></h3></p>
          <h6>文章</h6>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>

