<!DOCTYPE html>
<html>
<head>
  <title>MongoProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if current_user %>
    Logged in as <%= current_user.email %>
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>

<% flash.each do |key, value| %>
  <%= key %>"><%= value %>
<% end %>

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
