<!DOCTYPE html>
<html>
<head>
  <title>MongoProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      </button>
      <a class="navbar-brand">Jason的博客</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to home_path do %>
          <span class="glyphicon glyphicon-home"></span> 首页
          <% end %>
        </li>
      </ul>

      <%= render 'search/search' %>

        <% if current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag avatar_url(current_user, 20) %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "我的账户", edit_user_path(current_user) %></li>
                <li><%= link_to "我的文章", user_articles_path(current_user) %></li>
                <li><%= link_to "退出", log_out_path %></li>
              </ul>
            </li>
          </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "登录", log_in_path %></li>
          <li><%= link_to "注册", sign_up_path %></li>
        </ul>
        <% end %>
    </div>
  </div>
</nav>

<div id="main-container" class="container">
  <div class="row">
<!--     <div class="col-sm-1 col-md-2">
      <h3>第一部分</h3>
    </div> -->

    <div class="col-sm-11 col-md-9">
      <!-- <h3>第二部分</h3> -->
      <%= yield %>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD

=======
    <% if current_user %>
>>>>>>> b3b7667... 去掉无用的代码
=======
    <% if current_user %>
>>>>>>> c9ec5ef... 使用 gravatar 生成用户头像
    <div class="col-sm-1 col-md-3">
      <%= render 'panel/new_article' %>
      <%= render 'panel/category' %>
      <%= render 'panel/statistics' %>
    <!-- <h3>第一部分</h3> -->
    </div>
<<<<<<< HEAD
<<<<<<< HEAD
=======
    <% end %>
>>>>>>> b3b7667... 去掉无用的代码
=======
    <% end %>
>>>>>>> c9ec5ef... 使用 gravatar 生成用户头像

  </div>
</div>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
