<!DOCTYPE html>
<html>
<head>
  <title>MongoProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= link_to '我的账户', user_path(current_user) %>
  <%= link_to '首页', home_path %>
  <%= link_to '退出', log_out_path %>
<% else %>
  <%= link_to 'log_in', log_in_path %>
<% end %>

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
